# QZ Project playground
playground.py

# QZ project logs
logs/

# Static files
staticfiles/

# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log
db.sqlite3

# Environments
.env

# VS Code
.vscode