[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
requests = "*"
pillow = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-cloudinary-storage = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"
python-dotenv = "*"
mysqlclient = "*"

[requires]
python_version = "3.10"
